<app-navbar></app-navbar>

<!-- Botón Volver -->


<div class="dashboard-container">
  <div class="volver-container">
    <button class="btn-volver" (click)="volver()">Volver</button>
  </div>
  <h2 class="dashboard-title">Reportes Mensuales</h2>

  <div *ngIf="reportes.length > 0; else noReportes">
    <div *ngFor="let reporte of reportes" class="reporte-item">
      <h3>Reporte del {{ reporte.mes_ano }}</h3>
      <p>Total Recaudado: {{ reporte.total_recaudado | currency}}</p>
      <p>Cantidad de Salones: {{ reporte.cantidad_salones }}</p>
      <p>Cantidad de Banquetes: {{ reporte.cantidad_banquetes }}</p>
      <p>Cantidad de Eventos: {{ reporte.cantidad_eventos }}</p>
      <p>Cantidad de Reservas: {{ reporte.cantidad_reservas }}</p>

      <h4 (click)="toggleServicios(reporte.mes_ano)" style="cursor: pointer;">
        Servicios <span *ngIf="!mostrarServicios[reporte.mes_ano]">▼</span><span *ngIf="mostrarServicios[reporte.mes_ano]">▲</span>
      </h4>
      <ul *ngIf="mostrarServicios[reporte.mes_ano]">
        <li *ngFor="let servicio of reporte.servicios">
          {{ servicio.titulo }} - {{ servicio.tipo_servicio }} - {{ servicio.precio | currency }}
        </li>
      </ul>
      <button class="btn-download" (click)="descargarReporte(reporte)">Descargar Reporte</button>
    </div>
  </div>

  <ng-template #noReportes>
    <p>No hay reportes disponibles.</p>
  </ng-template>
</div>

<app-footer></app-footer>
