/* Estilos generales */
html, body {
  height: 100%;
  margin: 0;
}

.contenedor-principal {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  padding: 40px;
  max-width: 1200px;
  margin: auto;
  flex: 1;
  gap: 20px;
  flex-wrap: wrap; /* Esto permite que los elementos se ajusten en pantallas pequeñas */
}

.contact-info {
  flex: 1;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-info h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 1rem;
}

.info-item i {
  font-size: 1.5rem;
  color: #4CAF50;
  margin-right: 10px;
}

.info-item p {
  margin: 0;
}

/* Estilos para el formulario de contacto */
.contact-form {
  flex: 1.5;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
  font-size: 1.8rem;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
}

textarea.form-control {
  height: 120px;
  resize: vertical;
}

/* Estilo para el botón de envío */
.btn-submit {
  width: 100%;
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #45a049;
}

/* Mapa */
#map {
  height: 300px;
  width: 100%;
  margin: 20px auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Responsividad */
@media (max-width: 768px) {
  .contact-container {
    flex-direction: column;
    padding: 20px;
  }

  .contact-info,
  .contact-form {
    flex: 1;
    margin-bottom: 20px;
  }

  .contact-form h2,
  .contact-info h3 {
    font-size: 1.5rem;
  }

  .form-group {
    margin-bottom: 15px;
  }
}
