<app-navbar></app-navbar>
<div class="page-container">
  <!-- Barra lateral con filtros -->
  <aside class="sidebar">
    <h3>Filtros</h3>
    <ul>
      <li *ngFor="let filtro of filtros" 
      (click)="applyFilter(filtro)"
      [class.selected]="filtro === filtro_seleccionado"
      >
        {{ filtro }}
      </li>
    </ul>
  </aside>

  <!-- Contenedor principal -->
  <main class="main-content">
    <div class="services-container">
      <div 
        class="service-card" 
        *ngFor="let salon of salones_filtrados"
        (click)="openModal(salon)"
        >
        <!-- Imagen en la izquierda -->
        <div class="card-image">
          <img [src]="salon.img" alt="{{ salon.titulo }}" />
        </div>
        <!-- Contenido a la derecha -->
        <div class="card-content">
          <h3 class="service-title">{{ salon.titulo }}</h3>
          <p class="service-description">{{ salon.descripcion }}</p>
          <p>Capacidad: {{salon.capacidad}}</p>
          <div class="card-footer">
            
            <span class="price">Desde {{ salon.precio | currency }}</span>
          </div>
        </div>
      </div>
    </div>
  </main>
   <!-- Modal para la card expandida -->
 <div class="modal" *ngIf="seleccion" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <div class="modal-grid">
      <!-- Columna izquierda: Imagen -->
      <div class="modal-image">
        <img [src]="seleccion.img" alt="{{ seleccion.titulo }}" />
      </div>

      <!-- Columna derecha: Información -->
      <div class="modal-details">
        <!-- Título -->
        <h3 class="service-title">{{ seleccion.titulo }}</h3>
        <!-- Descripción -->
        <p class="service-description">{{ seleccion.descripcion }}</p>
        <p>Ubicación: {{seleccion.ubicacion}}</p>
        <!--p>Horario: {{seleccion.horario}}</p-->
        <p>Infraestructura: {{seleccion.infraestructura}}</p>
        <p>Tamaño: {{seleccion.especialidad}}</p>
        <div class="date-picker-container">
          <label for="fechaReserva" class="date-label">Fecha de Reserva:</label>
          <div class="date-input-wrapper">
            <form [formGroup]="reservaForm" (ngSubmit)="addToCart(seleccion)">
              <input type="date" id="fechaReserva" formControlName="fecha_reserva" class="custom-date-picker">
              <div *ngIf="reservaForm.get('fecha_reserva')?.invalid">
                <small class="error" *ngIf="reservaForm.get('fecha_reserva')?.errors?.['required']">La fecha es requerida</small>
                <small class="error" *ngIf="reservaForm.get('fecha_reserva')?.errors?.['invalidDate']">La fecha no puede ser anterior a hoy</small>
              </div>
              <i class="fa fa-calendar-alt date-icon"></i>
            </form>
          </div>
        </div>

        <p>Capacidad: {{seleccion.capacidad}} personas</p>
        <!-- Pie de la columna derecha -->
        <div class="details-footer">
          <!-- Precio -->
          <span class="price">{{ seleccion.precio | currency }}</span>
          <!-- Botón con forma de carrito -->
          <button class="add-to-cart" (click)="addToCart(seleccion)">
            <i class="fa fa-shopping-cart"></i> Añadir al Carrito
          </button>
          <button class="add-to-cart" (click)="closeModal()">
            <i class="fa fa-shopping-cart"></i> X
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<app-footer></app-footer>