<app-navbar></app-navbar>
<div class="page-container">
  <!-- Barra lateral con filtros -->
  <aside class="sidebar">
    <h3>Filtros</h3>
    <ul>
      <li *ngFor="let filtro of filtros" 
      (click)="applyFilter(filtro)"
      [class.selected]="filtro === filtro_seleccionado"
      >
        {{ filtro }}
      </li>
    </ul>
  </aside>

  <!-- Contenedor principal -->
  <main class="main-content">
    <div class="services-container">
      <div 
        class="service-card" 
        *ngFor="let salon of salones_filtrados"
        >
        <!-- Imagen en la izquierda -->
        <div class="card-image">
          <img [src]="salon.img" alt="{{ salon.titulo }}" />
        </div>
        <!-- Contenido a la derecha -->
        <div class="card-content">
          <h3 class="service-title">{{ salon.titulo }}</h3>
          <p class="service-description">{{ salon.descripcion }}</p>
          <div class="card-footer">
            <div class="rating">
              <span class="score">8.8</span>
            </div>
            <span class="price">Desde {{ salon.precio | currency }}</span>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-footer></app-footer>