<div class="contenedor-principal">
  <app-navbar></app-navbar>

  <div class="form-container">
    <!-- Columna izquierda: Imagen fija -->
    <div class="form-image">
      <img src="https://img.freepik.com/fotos-premium/mesa-decoracion-bodas-mantel-blanco-alfombra-alfombra-lugar-ella_1129635-2675.jpg?uid=R135651730&semt=ais_hybrid" alt="Imagen representativa">
    </div>

    <!-- Columna derecha: Formulario -->
    <div class="form-content">
      <h2>Ingrese sus datos</h2>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <label for="rut">RUT:</label>
        <input type="text" id="rut" formControlName="rut" required>
        <div *ngIf="loginForm.get('rut')?.invalid && loginForm.get('rut')?.touched">
          <small class="error" *ngIf="loginForm.get('rut')?.errors?.['required']">El RUT es requerido</small>
          <br>
          <small class="error" *ngIf="loginForm.get('rut')?.errors?.['invalidRut']">El RUT no es válido</small>
        </div>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" formControlName="nombre" required>
        <div *ngIf="loginForm.get('nombre')?.invalid && loginForm.get('nombre')?.touched">
          <small class="error">El nombre es requerido</small>
        </div>

        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" formControlName="apellido" required>
        <div *ngIf="loginForm.get('apellido')?.invalid && loginForm.get('apellido')?.touched">
          <small class="error">El apellido es requerido</small>
        </div>

        <label for="correo">Correo:</label>
        <input type="email" id="correo" formControlName="correo" required>
        <div *ngIf="loginForm.get('correo')?.invalid && loginForm.get('correo')?.touched">
          <small class="error" *ngIf="loginForm.get('correo')?.errors?.['required']">El correo es requerido</small>
          <br>
          <small class="error" *ngIf="loginForm.get('correo')?.errors?.['email']">El correo no es válido</small>
        </div>

        <button type="submit" [disabled]="loginForm.invalid">Enviar</button>
      </form>
    </div>
  </div>

  <app-footer></app-footer>
</div>
