<div class="contenedor-principal">
  <app-navbar></app-navbar>

  <div class="form-container">
    <!-- Mostrar imagen y formulario si reservas está vacío -->
    <div *ngIf="reservas.length === 0" class="form-wrapper">
      <!-- Columna izquierda: Imagen fija -->
      <div class="form-image">
        <img src="https://img.freepik.com/fotos-premium/plato-pescado-verduras-restauracion-monton-platos_165293-150.jpg?uid=R135651730&semt=ais_hybrid" alt="Imagen representativa">
      </div>

      <!-- Columna derecha: Formulario -->
      <div class="form-content">
        <h2>Búsqueda de Reservas por RUT</h2>
        <form [formGroup]="rutForm" (ngSubmit)="onSubmit()">
          <label for="rut">RUT:</label>
          <input type="text" id="rut" formControlName="rut" required>
          <div *ngIf="rutForm.get('rut')?.invalid && rutForm.get('rut')?.touched">
            <small class="error" *ngIf="rutForm.get('rut')?.errors?.['required']">El RUT es requerido</small>
            <br>
            <small class="error" *ngIf="rutForm.get('rut')?.errors?.['invalidRut']">El RUT no es válido</small>
          </div>
          <button type="submit" [disabled]="isLoading || rutForm.invalid" [class.loading]="isLoading">
            <span *ngIf="!isLoading">Buscar</span>
            <span *ngIf="isLoading">Buscando...</span>
          </button>
          <small class="error" *ngIf="!finded">No se encontraron reservas asociadas a este RUT</small>
        </form>
      </div>
    </div>

    <div *ngIf="reservas.length > 0" class="reservas-container">
      <h2>Tus Reservas</h2>
      <ul>
        <li *ngFor="let reserva of reservas" class="card">
          <!-- Imagen a la izquierda -->
          <div class="card-image">
            <img src="{{ reserva.servicio.img }}" alt="Imagen de servicio">
          </div>
          <!-- Texto a la derecha -->
          <div class="card-content">
            <h3>{{ reserva.servicio.titulo }}</h3>
            <p>Fecha: {{ reserva.fecha }}</p>
            <p>Estado de pago: {{ reserva.estado_pago }}</p>
            <p *ngIf="reserva.servicio.tipo_servicio == 'Banquete'">
              Cantidad de Personas: {{ reserva.cantidad_personas }}
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <app-footer></app-footer>
</div>